{% extends 'base.html'%}
{% block content %}
<div class="container ">
    <div class="row d-flex justify-content-center pt-3 pr-3">
        <div class="col-md-4 col-sm-6 mb-4 offset-.5">
            <div class="card border border-3 rounded" id="card-cart">
                <img class="card-img-top" src="{{p.image_link}}" alt="Card image cap" style="width: 12rem; align-self: center;">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center; font-weight: bolder;">{{p.name}}</h5>
                    <p class="card-text"><span style="font-weight: bolder;">Marca: </span>{{p.brand}}</p>
                    <p class="card-text"><span style="font-weight: bolder;">Descripcion: </span>{{p.descripcion}}</p>
                    <p class="card-text" style="font-weight: bolder; text-align: center;"> ${{p.price}}</p>
                    <form method="post">
                        {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-primary">Eliminar</button>   
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}