{% extends 'base.html'%}
{% block content %}
    <h1 style="color:#00008B; text-align: center;">Productos Ilegales</h1>
    <div class="container ">
        <div class="row d-flex justify-content-center pt-3 pr-3">
            {% for p in products %}
            <div class="col-md-4 col-sm-6 mb-4 offset-.5">
                <div class="card border border-3 rounded" style="width: 18rem; height: 28rem;">
                    <img class="card-img-top" src="{{p.image_link}}" alt="Card image cap" style="width: 12rem; align-self: center;">
                    <div class="card-body" >
                        <h5 class="card-title" style="text-align: center; font-weight: bolder;">{{p.name}}</h5>
                        <p class="card-text"><span style="font-weight: bolder;">Marca: </span>{{p.brand}}</p>
                        <p class="card-text"><span style="font-weight: bolder;">Descripcion: </span>{{p.descripcion}}</p>
                        <p class="card-text" style="font-weight: bolder; text-align: center;"> ${{p.price}}</p>
                        <div class="container-fluid" style="align-items: center;">
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <a href="{% url 'make_order' p.id %}" class="btn btn-primary" style="align-items: center; background-color: #483D8B; border: none;">Añadir <i class="fa-solid fa-basket-shopping"></i></a>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
{% endblock %}