{% extends 'base.html'%}
{% block content %}
{% for msg in messages%}
    <div class="alert alert-success" role="alert">
        <strong>{{msg}}</strong>
    </div>
{% endfor%}
    <div>
        <h1 style="text-align: center; color: #00008B;">Bienvenido a mi E-commerce</h1>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://img.optimalcdn.com/www.elhorizonte.mx/2023/01/d008d1fd998e3ce3af7eaadac69ca93f4418fb14/shoping-regio-se-reactiva.webp" class="d-block w-100" alt="banner1">
            </div>
            <div class="carousel-item">
                <img src="https://t3.ftcdn.net/jpg/02/71/77/56/360_F_271775672_yo8ZgraN2IHGbfqP2k0PsLjwvmatUNUJ.jpg" class="d-block w-100" alt="banner2">
            </div>
            <div class="carousel-item">
                <img src="https://photos.desired.de/2c/08/f1/3cefa14a0764ff4a0fc21190e2_cmUgMTkyMCAxMDgwAzI4M2Y0N2ZhYzFl_shoppen.jpg" class="d-block w-100" alt="banner3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}

